.cart{
    @include flex(flex-start, flex-start);
    @include mobile{
        flex-wrap: wrap;
    }
    &__info{
        width: 40%;
        margin-right: 30px;
        margin-top: 30px;
        padding: 20px;
        box-shadow: $box-shadow;
        position: fixed;
        &__title{
            & > * {
                margin-bottom: 15px;
            }
            p{
                font-size: 1.25rem;
            }
            &__price{
                @include flex(center,space-between);
            }
        }
    }
}