.catalog{
   display: flex;
   flex-direction: row;
  

    &__category{
        margin-right: 15px;
    
        
        &__item{
          padding: 15px;
          font-size: 1.5rem;
          font-weight: 500;
          background-color: $main-color;
          margin-top: 5px;
          &.active{
            color:$main-color;
          
          }
          &__name{
           margin-top: 5px;
          }
        }
    }
    &__container{
          &__filter{
              
          }
          &__content{

          }
    }
}