.catalog{
   display: flex;
   flex-direction: row;
  

    &__category{
        margin-right: 15px;
    
        
        &__item{
          padding: 15px;
          font-size: 1.5rem;
          font-weight: 600;
          &__name{
   
          }
        }
    }
    &__container{
          &__filter{
              
          }
          &__content{

          }
    }
}