.catalog{
   display: flex;
  
   flex-direction: row;
   @include mobile{
     flex-direction: column;
      text-align: center;
   }
    &__category{
      @include mobile{
         background-color: #fff;
         width: 100%;
         flex-direction: column;
         text-align: center;
      }
        margin-right: 50px;
       
        &__item{ 
          border: none;
          padding: 15px;
          font-size: 1.5rem;
          font-weight: 500;
          background-color:$main-color-confectionery;
          margin-top: 15px;
        
          &.active{
            color: #fff;
            
          
          }
          &__name{
           
          }
        }
    }
    &__container{
          &__filter{
             @include flex(flex-start,flex-start);
             font-size: 3rem; 
             margin-top: 15px;
             input{
               font-size: 3rem;
                outline: none;
                border: #000 2px solid;
             }
             i{}

             
          }
          &__content{

          }
    }
}