.connect__card{
    @include flex(center,center);
   flex-direction: column;
    &__icon{
     font-size: 2.5rem;
     margin-bottom: 30px;
    }
    &__info{
        &__content{

        }
    }
}