.connect__card{
    @include flex(center,center);
   flex-direction: column;
    &__icon{
     font-size: 3rem;
     margin-bottom: 20px;
     color: $main-color;
     &:hover{
         transform: rotate(30deg);
     }
    }
    &__info{
        &__content{
          font-size: 2rem;
        }
    }
}