.header{
    background-color: $main-color;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;
    &__logo{
        @include flex(center,center);
        position: absolute;
        inset: 0;
        height:$header-height;
        pointer-events: none;
        img{
            height: 250px;
        }
    }

    &__menu{
        @include flex(center, space-between);
    }
}