.header{
    background-color: $main-header-color;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
   
   .container{
       height: 100%;
   }
    &__logo{
        @include flex(center,center);
        position: absolute;
        inset: 0;
        height:$header-height;
        pointer-events: none;
        img{
            height: 250px;
        }
    }

    &__menu{
        @include flex(center, space-between);
        height: 100%;
        font-size: 1.5rem;
        &__mobile-toggle{
            display: none;
        }
        &__left{
            &__close{
                display: none;
            }
            .active{
                font-weight: 500;
                color:$main-color;
            }
           
        }
        &__item ~ &__item{
            margin-left: 30px;
        }
        &__item{
            .active{
                font-weight: 500;
                color:$main-color;
        }
        }
        &__item:hover{
            color: $main-color;
            cursor: pointer;
        }
        &__left, &__right{
            @include flex(center,center);
            height: 100%;
           
        }
        &__right{
            font-size: 1.5rem;
            &__item{
                input {
                    padding: 4px;               
                    border-radius: 10px;
                    font-size: 1rem;
                    width: 100px;
                    margin-right: 5px;
                    margin-top: auto;                   
                    border:  solid 2px;
                    &::placeholder{
                        font-size: 1.2rem;
                    }
                    &:focus{
                     width: 200px;               
                      border-color: red ; 
                      
                    
                        &::placeholder{
                            color: #fff; 
                           
                        }
                    }
                   
                }
                @include flex(center,center);
               
            }
            @include tablet{
                margin-left: auto;
            }
            @include mobile{
                font-size: 1.5rem;
            }
            .active{
                font-weight: 500;
                color:$main-color;
            }
        }
    }
}