.container__map__decrep{
    @include flex(center,center);
    margin-bottom: 50px;
}
h1{
    margin-top: 70px;
    text-align: center;
    font-weight: 500;
}
.gmap_canvas{
    .gmap_iframe{
        @include tablet{
            width: 80vw;
           
        }
        @include mobile{
            width: 100vw;
        }
    }
    
    p{
      font-size: 2rem;
    }
}