.product__card{
   @include flex(center,center);
  flex-direction: column;
    text-align: center;
    
    box-shadow: $box-shadow;
    &__img{
        
       
    
         img{
          

         }
    }
    &__title{
        
    
    }
    &__price{
      
        &__old{

        }
    }
    &__btn{

    }
}