.productCard{
    text-align: center;
    margin-bottom: 30px;
    box-shadow: $box-shadow;
    &__img{
        
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
         img{
            position: absolute;
            top: 0;
            left: 50%;
         }
    }
    &__title{

    }
    &__price{
        &__old{

        }
    }
    &__btn{

    }
}