.product__card{

    text-align: center;
    overflow: hidden;
    
    box-shadow: $box-shadow;
    &__img{
        
        position: relative;
        box-sizing: border-box;
       
    
         img{
          

         }
    }
    &__title{
        
      margin-top: auto;
      color: $main-color;
    }
    &__price{
        margin-top: auto;
        &__old{

        }
    }
    &__btn{

    }
}