.product{
    width: 80%;
    @include flex(center,space-between);
    flex-grow: 1;
    &__images{
        width: 80%;
        &__container{
            @include flex(flex-start,flex-start);
            &__list{
              flex-direction: column; 
                &__item{
                    
                    
                  
                    img{
                        
                        
                    }
                }
            }
            &__main{
              
                img{
                  
                  
                
                }
            }
        }
      
        &__description{
            &__title{

            }
            &__content{

            }
            &__toggle{

            }
        }
    }
    &__info{
        &__title{

        }
        &__item{
            &__price{

            }
            &__title{

            }
            &__size{
                &__list{

                }
            }
        }
    }
}