.product__card{
   @include flex(center,space-between);
   flex-direction: column;
    text-align: center;
   
    box-shadow: $box-shadow;
    &__img{
        position: relative;
       
        background-size: contain;
         img{
         
        

         }
    }
    &__content{
        @include flex(center,space-between);
        flex-direction: column;
        margin-top: auto;
        &__title{
        font-size: 1.5rem;
        color: $main-color;
        padding: 5px;
        }
        &__price{
            font-size: 1.2rem;
            font-weight: 400;
            padding: 5px;
            &__old{
             margin-left: 5px;
            }
        }
    }
    &__btn{

    }
}